/** Tag selectors **/
body{
  font-family: 'Poppins', sans-serif;
  font-size: larger;
}


/** Class selectors **/
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-weight: 500;
  }

.innerabout{
  
  padding: 20% 20%;
  background-color: white;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro a{
  color: #292b2c;  
}

.skillset{
  text-align: center;
}

.fa-solid{
  margin-bottom: 20px;
}

.carousel-item{
  padding: 10% 20%;
}

.github{
  margin-right: 2px;
}

.github:hover{
  color: #6CC644;
}

.linkedin{
  margin-right: 2px;
}

.linkedin:hover{
  color: #2867B2;
}

.mail{
  margin-right: 2px;
}

.mail:hover{
  color: red;
}

.medium{
  margin-right: 2px;
}

.twitter{
  margin-right: 2px;
}

.twitter:hover{
  color: #1DA1F2;
}

/** id selectors **/
#skills{
  padding: 10% 20%;
}

#projects{
  background-color: white;
  text-align: center;
}